{% extends 'blogs/base.html '%}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'blogs/dashboard.css' %}">
{% endblock %}
{% block navbartitle %} Dashboard {% endblock %}
{% block navbarbutton %}

<h3>hello, {{request.user.username}}</h3>
<form class="d-flex"  action="{% url 'blogs:subscribe'%}" method="post">
    {% csrf_token %}
            
             <button class="btn btn-outline-success" type="submit">{% if sub_status.subscription_status %}unsubscribe {% else %} subscribe{% endif %}</button>
        </form> 
<form class="d-flex"  action="{% url 'blogs:create_blog'%}">
    {% csrf_token %}
             <button class="btn btn-outline-success" type="submit">What's in your Mind?</button>
        </form> 
<form class="d-flex"  action="{% url 'blogs:logout_request'%}" method="post" role="search">
    {% csrf_token %}
            <button class="btn btn-outline-success" type="submit">Logout</button>
        </form> 

{% endblock %}


{% block body %}

<div class="centered-div">
    <div class="centered-inner-div">
        <div class="container">

            {% for content in contents %}
                <div class="box">
                    <div class = "image-frame-div"><img src="/media/{{content.image}}" width="100%" height="100%" ></div>
                    <a href = "{{content.pk}}"><h2>{{content.title}}</h2></a>
                    <div class = "container-item-footer"></div>
                    <!-- <p><strong>Likes</strong>: Not set yet</p> -->
                    <p><strong>Author Name</strong>: {{content.author_name}} </p>
                    <p><strong>Published Date</strong>: {{content.pub_date}} </p>
                    <p><strong>Last Updated on</strong>: {{content.last_edit_date}} </p>
                    
                    
                </div>

            {% endfor %}
            <div class="box">Write Your Own blog </div>
            <!-- Add more boxes as needed -->
          </div>
          
      </div>
  </div>
{% endblock %}