{% extends 'blogs/base.html '%}
{% load static %}
{% block title %} User Registration {% endblock %}
{% block css %} 
<link rel="stylesheet" href="{% static 'blogs/signup.css' %}">
{% endblock %}

{% block body %}

<!--Register--> 
<div class="container py-5">
	<h1>login</h1>
	<h3>{{ message }}</h3>
	<form method="POST">
		{% csrf_token %}
		{{ login_form.as_table }}                    
     
		<button class="btn btn-primary" type="submit">Login</button>
	</form>
	<p class="text-center">If you don't have an account, <a href="{% url 'blogs:user_registeration'%}">login</a> instead.</p>
</div>
{% endblock %}       


